$primary: rgb(160, 139, 131);
$secondary: rgb(109, 109, 109);
$light-grey: rgb(175, 175, 175);
$medium-grey: rgb(130, 130, 130);
$dark-grey: rgb(80, 80, 80);
$white: rgb(255, 255, 255);
$black: rgb(17, 17, 39);
