@import '../../../sass/settings.scss';

.MessageFormAndCards {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.MessageForm {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba($light-grey, 0.6);
    box-shadow: 0 -1px 10px $dark-grey;

    @include media(small) {
        border-radius: 0 0 rem(30) rem(30);
    }
}